@light-blue:     #68B2F8;
@dark-blue:      #6200FF;
@dark-blueA:      #6200FF88;
@darker-purple:  #28112c;
@lighter-purple: #dbb1e2;
@neon-purple:    #9623AF;
@dark-purple:    #5a3960;
@dark-purpleA:    #5a396088;
@light-purple:   #a273ab;
@light-gray:     #cbc;
@dark-grey:      #616161;
@white:          #fff;
@dark-shadow: 0 0 6px hsla(291, 45%, 9%, 0.5);
@gradient-start: rgba(40,17,44,.7) 30%;
@gradient-end: rgba(40,17,44,.1) 100%;
@font-serif: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
@font-sans: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
@border-skill: .5vmin solid;

.font-props {
  font-size: calc(0.1vmin + 12px);
}

body,
html {
  margin: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  background-color: hsla(291, 60%, 25%, 1);
  background-image: url(img/58.png),url(img/74.png), url(img/106.png);
  background-repeat: repeat-x;
  font-family: @font-serif;
  font-size: calc(0.5vmin + 12px);
}

a:link, a:visited, a:hover, a:active {
  color:#fff;
  text-decoration: none;
}

a:hover {text-decoration: underline;}

svg {
  max-width: 30px;
}

nav {  
  box-shadow: 3vmin 3vmin 4vmin 0 #68b2f877;
  text-transform: uppercase;
  background: rgba(23, 0, 27, 0.4);
  width: 100%;
  .icon {display: none;}
}

.sunk {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0vmin 0 3vmin 0 rgba(23, 0, 27, 0.6);
  border-right: 3vmin solid rgba(23, 0, 27, 0.4);
  border-top: 0.8vmin solid #68B2F866;
  width: 100%;
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1vmin 2vmin;
}

.footer {
  border-top: .8vmin solid #6200FF88;
  box-shadow: 3vmin -3vmin 4vmin 0 #6200ff77;
  border-right: 2vmin solid hsla(291, 45%, 9%, 0.4);
  background: rgba(23, 0, 27, 0.4);
  width: 100%;
  box-sizing: border-box;
}

.change-color {background: fade(@darker-purple, 100%);}

.nav-grid {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "logo about"
    "logo skills"; 
}
.logo-link { grid-area: logo; }
.about-link { grid-area: about; }
.skills-link { grid-area: skills; }

.page-link {
  float: left;
  padding: .0 1vmin;
  font-size: calc(0.5vmin + 12px);
  transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
  text-shadow: 0 0 .05vmin #111,-.2vmin 0.1vmin .4vmin #dbb1e2;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

  &:hover {
    cursor: pointer;
    background-position: 0;
    text-decoration: none;
    text-shadow: 0 0 .1vmin #111,-.4vmin 0.2vmin .2vmin #dbb1e2;
  }
  &::before {
    margin-bottom: .3vmin;
  }
  &::after,
  &::before {
    content: '';
    display: block;
    width: 0;
    height: .5vmin;
    margin-top: .5vmin;
    background: @dark-blueA;
    transition: width 0.3s;
  }
  &:hover::after,
  &:hover::before {
    width: 100%;
  }
}

.page-link-home {
  font-size: calc(2.8vmin + 12px);
  flex: 1;
  text-align: left;
  align-self: center;
}



.right {
  float: right;
  padding: 14px 16px 14px 0;
}

.logo-icon {
  width: 20px;
  display: block;
}

.fill {
  fill: #fff;
}

.stroke {
  stroke: #fff;
}

.bars {
  display: inline-block;
  cursor: pointer;
  padding: 20px 16px 0;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 2px;
  background-color: @white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform:         rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -3px);
  transform:         rotate(45deg) translate(-4px, -3px);
}

section {
  color: #cbc;
  z-index: 1;
  min-height: 100vh;
  box-sizing: border-box;
  flex: 85%;
  min-width: 200px;
}

h1,
h2 {
  line-height:    3vmin;
  letter-spacing: 1px;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: calc(.7vmin + 12px);
  margin-left: -1vmin
}

h2 {
  font-size: calc(.6vmin + 12px);
  font-weight: 400;
  margin-left: 4vmin;
  color: rgba(255,255,255,0.8);
}

h5 {
  font-family: @font-sans;
  .font-props();
  color: @light-purple;
  margin: 0;
  font-weight: normal;
  clear: both;
}

h6 {
  font-family: @font-mono;
  .font-props();
  color: @dark-purpleA;
  margin: 0;
}

.flex {
  display:         flex;
  flex-direction:  column;
  justify-content: center;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex.wrap {flex-wrap: wrap;}

.info {
  border: 1px solid @light-gray;
  border-radius: 6px;
  padding: 8px;
  margin:  -50px 16px 16px;
  width: 16px;
  height: 16px;
  align-self: flex-end;
  box-shadow: 0 1px 6px 1px hsla(0, 0, 100%, 0.5);
  z-index: 2;
  &:hover {
    box-shadow: 0 2px 6px 0 hsla(0, 0, 50%, 0.5);
    bottom: 0px;
  }
  i {
    color: @light-gray;
    font-size: 12pt;
  }
  .fa-times-circle {
    display: none;
  }
}

.info-expand {
  font-family: @font-sans;
  font-size: 10pt;
  width: 0;
  height: 0;
  overflow-y: scroll;

  -webkit-animation: growInfo 1s ease-in 1; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: growInfo 1s ease-in 1; /* Firefox < 16 */
      -ms-animation: growInfo 1s ease-in 1; /* Internet Explorer */
       -o-animation: growInfo 1s ease-in 1; /* Opera < 12.1 */
          animation: growInfo 1s ease-in 1;
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
          animation-fill-mode: forwards;
}

@keyframes growInfo {
    0% {
      background: none;
      min-width: 0;
      min-height: 0;
    }
    100% {
      background: #fff;
      width: 80%;
      height: 300px;
      max-width: 80%;
      min-height: 300px;
      max-height: 300px;
     }
}

.info-text {
  color: @darker-purple;
  display: none;
}

.home {
  position: sticky;
  top: 0;
  border-bottom: 0.5vmin solid #e033ff;
  border-top: 0.5vmin solid #e033ff;
  box-shadow: inset 1vmin 0vmin 4vmin 0 #e033ff44;
  overflow: hidden;
}

.canvas {
  position: fixed;
  top:  0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.cvs2-container {
  background: linear-gradient(95deg, rgba(40, 17, 44, 0.1) 30%, rgba(40, 17, 44, 0) 100%);
}
@keyframes sats {
  0%  {filter: saturate(100%)}
  25%  {filter: saturate(200%)}
  50%  {filter: saturate(100%)}
  75%  {filter: saturate(0%)}
  100%  {filter: saturate(100%)}
}

.canvas1 {
  animation: 20s linear 0s infinite alternate sats;
}
.canvas2 {
  animation: 25s ease-in-out 4s infinite alternate sats;
}
.canvas3 {
  animation: 30s ease-out 3s infinite alternate sats;
}
.canvas4 {
  animation: 35 linear 2s infinite alternate sats;
}
.canvas5 {
  animation: 40s ease 1s infinite alternate sats;
}

.circle {
  position: absolute;
  border-radius: 50%;
  will-change: left, top, width, height, transform;
  contain: size layout paint;
}

.circle-1 {
  transition: transform 3s;
  transition-timing-function: linear;
}

.circle-2 {
  animation: rotate-cw 75s linear infinite;
  will-change: left, top, transform;
}

.circle-3 {
  animation: rotate-ccw 75s linear infinite;
  will-change: left, top, transform;
}

@keyframes moveL {
  50%  {left: -0%}
  100%  {left: 95%}
}

@keyframes moveR {
  50%  {left: 95%}
  100%  {left: -0%}
}

@keyframes moveU {
  50%  {top: -0%}
  100%  {top: 100%}
}

@keyframes moveD {
  50%  {top: 100%}
  100%  {top: -0%}
}

@keyframes rotate-ccw {
  0%  {filter: saturate(100%)}
  25%  {filter: saturate(200%)}
  50%  {filter: saturate(100%)}
  75%  {filter: saturate(0%)}
  100%  {
    transform: rotate(-360deg);
    filter: saturate(100%)
  }
}
@keyframes rotate-cw {
  0%  {filter: saturate(100%)}
  25%  {filter: saturate(200%)}
  50%  {filter: saturate(100%)}
  75%  {filter: saturate(0%)}
  100%  {
    transform: rotate(360deg);
    filter: saturate(100%)
  }
}

.lede {
  background: rgba(40, 17, 44, 0.4);
  text-shadow: 0 0 6px hsla(291, 45%, 18%, 0.5);
  text-align: right;
  animation: 25s linear 0s infinite alternate backSats;
  box-shadow: 1vmin 0 4vmin 0 #dbb1e244, inset -6vmin 0 3vmin 0 #943da422;
  z-index: 1;
}

@keyframes backSats {
  0%  {backdrop-filter: blur(3px) saturate(100%)}
  25%  {backdrop-filter: blur(6px) saturate(190%)}
  50%  {backdrop-filter: blur(3px) saturate(100%)}
  75%  {backdrop-filter: blur(1px) saturate(10%)}
  100%  {backdrop-filter: blur(3px) saturate(100%)}
}
.left-rail {
  position: sticky;
  top: 0;
  height: 100vh;
  align-items: center;
  flex: 15vw;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}
.lede .brace {
  height: 4vw;
}
.brace.spacer {
  height: 16vh;
}
.js.spacer {
  height: 22vmin;
}
.about {
  border-top: 0.5vmin solid #e033ff;
  box-shadow: inset 1vmin 0vmin 3vmin 0 #6200FF88;
}
.joke {
  padding: 1vmin;
  flex: 1;
}
.text-left {
  text-align: left;
}

.business {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brace {
  font-size: 12vmin;
  line-height: 3vmin;
  color: @lighter-purple;
  text-shadow: 0 0 4vmin #dbb1e2;
  transform: rotate(-90deg);
}
.js {
  font-size: 4vmin;
  color: #68B2F888;
  font-weight: bold;
  text-shadow: 0 0 4vmin #68B2F8;
  margin: 0.3vmin 0 0.3vmin -1.5vw;
}

.large-j {
  letter-spacing: 8vmin;
  font-size: 75vmin;
  text-align: center;
  opacity: .1;
  cursor: default;
  margin: 0;
  align-self: center;
  color: @neon-purple;
  transform: rotate(30deg);
  filter: saturate(200%);
}

.content {
  font-family: @font-sans;
  border-bottom: 1vmin solid @dark-blue;
  h5 {
    margin: 5px 0;
    text-align: center;
  }
}

.book {
  background: rgba(23, 0, 27, 0.4);
  backdrop-filter: blur(5px) brightness(90%);
  border-radius: 2vmin;
  margin: 3vmin;
  padding: 4vmin;
  width: 45vw;
  max-width: 900px;
  align-self: flex-end;
}

.book::before {
  content: "\27A4";
  position: absolute;
  bottom: -7vmin;
  transform: rotate(115deg);
  right: 8vmin;
  color: rgba(23, 0, 27, 0.4);
  font-size: 9vmin;
}

.emphasis {
  font-weight: bold;
  color: #fef;
}

.symbols {align-self: flex-start;}

.symbol {
  border-radius: 50%;
  background: @dark-grey;
  padding:   20px;
  font-size: 25pt;
  color: @white;
  text-align: center;
  margin:    10px 0;
  min-width: 40px;
}

.pic {
  background-image: url('http://localhost:8000/css/img/joe.jpg');
  background-size: cover;
  width: 50vmin;
  height: 50vmin;
  border-radius: 50%;
  align-self: end;
  margin: 4vmin;
  max-width: 500px;
}
.row-container{
  margin: 3vmin;
  flex: 2;
}
.skills {
  background: rgba(16, 8, 18, .4);
  h1 {margin: 16px 0;}
  h5,
  h1 {width: 100%;}
  .row {margin: 8px 0;}
  svg {
    width: 24px;
    padding: 14%;
  }
}

.skill {
  overflow: hidden;
  div {
    background: rgba(140,140,140, 0.1);
    padding-top: 6px;
    display: flex;
    justify-content: flex-end;
    border-radius: 2vmin 0 0 0;
  }
  p {
    margin: 0;
    padding: 0 6px 6px;
    font-size: calc(.1vmin + 12px);
    line-height: 8pt;
  }
  .label {
    word-break: break-all;
  }
  .score {text-align: center;}
}

.skill1 {
  border-left: @border-skill @light-purple;
  border-top:  @border-skill @light-purple;
  svg {
    fill: #a9a;
  }
}

.skill2 {
  border-left: @border-skill @neon-purple;
  border-top:  @border-skill @neon-purple;
  color: @lighter-purple;
  svg {
    fill: #b990c0;
  }
}

.skill3 {
  border-left: @border-skill @lighter-purple;
  border-top:  @border-skill @lighter-purple;
  height: 50px;
  color: #fff;
}

.other-skills {
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2vmin;
  align-self: flex-start;
  justify-content: center;
  margin: 3vmin;
  padding: 4vmin;
}

.other-skill {
  border-radius: 2vmin;
  border: @border-skill @light-purple;
  padding: 16px;
  margin:   8px;
  position: relative;
  width: 30%;
  min-height: 65px;
  max-width:  80px;
  color: #fff;
  .score {
    position: absolute;
    bottom: 0;
    right:  0;
    margin: 16px;
  }
  svg {
    padding: 5%;
    fill: #ddd;
  }
}

.score3{
  background: rgba(0, 0, 0, 0.4);
  color: @light-gray;
  border: @border-skill @lighter-purple;
  svg {
    fill: #b990c0;
  }
}

.score4{
  background: rgba(0, 0, 0, 0.2);
  color: @lighter-purple;
  border: @border-skill @neon-purple;
  svg {
    fill: #b990c0;
  }
}

.links {
  background: none;
  min-height: 150px;
  h5{margin:20px}
}

.centered {
  flex-direction: row;
  align-items: center;
}

@media screen  and (max-width: 350px) {
   .lede  {
    max-height: 16vmin;
    width: 100%;
    position: relative;
  }
  .left-rail {
    display: none;
  }
}

@media screen  and (min-width: 351px) and (max-width: 500px) {
  .left-rail, .lede  {
    flex: 40vw;
  }
  section {
    flex: 60vw;
  }
}

@media screen and (min-width: 501px) and (max-width: 950px) {
  .left-rail, .lede  {
    flex: 30vw;
  }
  section {
    flex: 70vw;
  }
}

@media screen and (min-width: 951px) and (max-width: 1300px) {
  .left-rail, .lede  {
    flex: 20vw;
  }
  section {
    flex: 80vw;
  }
}